.hundred{
    background-color: white;
    height: 100vh;
}
.details__section{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;

}
.details__section ul{
    list-style: none;
}