.smallnavbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding: 5px 20px;
}

.smallnav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.smallnav-links li {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.subscribe-btn {
    background-color: #0084ff;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
}

.subscribe-btn:hover {
    background-color: #006edc;
}