.buttons {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    margin: 0 auto;
    gap: 100px;
    padding: 50px 0 100px;
    justify-content: center;

    div {
        width: 100%;
        text-align: center;

        p {
            color: white;
            min-width: 250px;
        }

        button {
            width: fit-content;
            background-color: #00000084;
            color: #a39161;
            margin-bottom: 10px;
            border: 0.1px solid white; // Combined border properties
            transition: 0.3s;

            &:hover {
                transform: scale(1.17);
            }
        }
    }
}

.shop-around {
    background-color: rgb(29, 28, 28);
}
